<mat-toolbar>
    <div class="titulo">
        <img src="assets/img/book.png" alt="">
    </div>
    <div class="titulo">
        LOJA DE LIVROS
    </div>
    <span class="example-spacer"></span>
    <button routerLink="/registrar" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" title="Registrar">
      <mat-icon>person_add</mat-icon>
    </button>
    <div *ngIf="isShowLogin">User: {{ getUserName() }}</div>
    <button *ngIf="!isShowLogin" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <a href="">Login</a>
    </button>
  </mat-toolbar>