img{
    height: 3rem;
}
.header{
    justify-content: center;
    height: 10%;
}
.titulo{
    display: flex;
    align-items: center;
}
h1{
    padding-left: 1.2rem;
    font-size: 1.5rem;
}

.sig{
    color: crimson;
    padding: 1rem;
    
}

.example-spacer {
    flex: 1 1 auto;
  }